
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <h2 style="text-align:center;color:darkslateblue">Chào mừng các bạn đến trang Admin</h2>

<div class="carousel-inner">
    <img class="slide-image" src="~/image/hi.jpg.png" alt="">
</div>

