
@{
    ViewBag.Title = "SPTheoLoai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="row">
    @foreach (var ruou in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "Wine", new { id = ruou.Maruou })">
                    <img alt="@ruou.Tenruou" src="~/image/@ruou.Anhbia" width="200" />
                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @ruou.Tenruou
                        </h4>
                        <p></p>
                    </div>
                </a>
                <div class="ratings">
                    <p class="pull-right">15 review</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>


